.title {
  width: 15%;
}

.input {
  width: 85%;
}

@media only screen and (max-width: 768px) {
  .title {
    width: 30%;
  }
  .input {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .title {
    width: 100%;
  }
  .input {
    width: 100%;
    input {
      padding-left: 0 !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
