.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;

  &__header {
    border-bottom: 1px solid #ccc;
  }
  &__body {
    padding: 16px 0;
    height: fit-content;
  }
  &__footer {
    border-top: 1px solid #ccc;
    padding-top: 8px;
  }
}
