.title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}

.actions {
  flex-direction: row;
}

@media only screen and (max-width: 375px) {
  .actions {
    flex-direction: column;
    gap: 12px;
    .btn-bookmark {
      margin: 0;
    }
  }
}
