$primaryBlack: #1d1d1f;
$primaryRed: #e60023;
$primaryWhite: #fff;
$primaryLightBlue: #c7f8ff;
$primaryGray: #84849d;
$primaryLightGrey: #f2f5f8;
$primaryLightGreen: #44ff00;
$primaryLightBrown: #eab171;
$primaryYellow: #fbe44b;
$primaryBlue: #747df6;
$primaryPink: #f92bfd;
$primaryPurple: #9391fd;
$primaryWarmColor: #ff5b00;
$primaryLightBlue: #0288d1;

$headerHeight: 80px;
$footerHeight: 56px;
