.reaction-container {
  width: fit-content;
  border-radius: 100rem;
  padding-top: 4px;
  padding-bottom: 4px;
}

.reaction-item {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.2);
  }
}
