.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  &__tabs {
    width: 20%;
    &__item {
      gap: 12px;
      align-self: flex-start;
    }
  }
  &__tab {
    width: 100%;
    margin-left: -2px;
    border-left: 2px solid #ccc;
    min-height: 326px;
  }
}

.content {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.description {
  position: relative;
  min-height: 220px;
  .edit {
    position: absolute;
    bottom: -10%;
    right: -2%;
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1920px) {
  .content {
    width: 55%;
  }
  .wrapper__tabs {
    width: 30%;
  }
  .wrapper__tab {
    border-left: none;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100% !important;
    flex-direction: column;
  }
  .wrapper__tabs {
    width: 100%;
  }
}
