.app-table {
  padding: 24px;
  &__filter-bar {
    padding-top: 4px;
  }
  &__content {
    padding-top: 12px;
    &__thead {
      th {
        color: #212b36 !important;
        font-weight: 600 !important;
      }
    }
  }
}

.w-50px {
  width: 50px !important;
}

.cursor-pointer {
  cursor: pointer;
}
