.form {
  &-group {
    margin: 12px;
    display: block;
    &--description {
      margin: 16px 12px;
    }
    &--map {
      display: flex;
    }
  }
  &-control {
    display: block;
    width: 100%;
    outline: none;
    padding: 8px;
    font-size: 14px;
  }
}

.btn-select-map {
  font-size: 12px;
  font-weight: bold;
  height: 100%;
}

.btn-submit {
  font-weight: bold;
  min-width: 200px !important;
}

.dropdown {
  width: 80%;
}
