.explore {
  min-height: calc(100vh - 72px - 56px);
  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  &__map {
    height: calc(100vh - 72px - 56px - 72px);
  }
}
