.dashboard {
  padding: 20px;
  &-add-cover-image {
    position: absolute;
    bottom: 16px;
    right: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: initial;
  }
  &-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-avatar {
      width: 120px;
      height: 120px;
    }
  }
}
