* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none !important;
}

.mapboxgl-ctrl-top-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
